.btn {
  font-weight: 700;
    text-shadow: 1px 1px #000000;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
.btn-xl {
  padding: 1rem 2rem;
}
.btn-primary {
  background-color: #893E29;
  border-color: #893E29;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #FD7F32 !important;
}
.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(218, 193, 128, 0.5) !important;
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(77, 20, 26, 0.4);
  text-align: center;
    height: 40px;
    color: white;
}
input[type='url'] {
    font-size: 25px;
    height: 50px;
}
#main-content {
    text-align: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 1.8em;
}
.title {
    font-size: 5em;
    margin: 0 auto;
}
.title, p, footer {
    color: white;
    text-shadow: 1px 2px #000000;
}