{% extends "main/layout.html" %}

{% block head %}
    <title>URL-Shortener - ERROR</title>
{% endblock %}

{% block content %}
    <p class="text-faded mb-4">Oops! There's no website under this shortcut.</p>
    <button class="btn btn-primary btn-xl" onclick="window.location.href='/'">Go to main page</button>
{% endblock %}
