{% extends "main/layout.html" %}

{% block head %}
    <title>URL-Shortener</title>
{% endblock %}

{% block content %}
    <p class="text-faded mb-4">Give us a long URL that's hard to remember and we'll deliver a shorter one for you.</p>
      <form method="POST" class="navbar-form navbar-right" role="submit">
          {% csrf_token %}
          <input type="url" name="url" id="url" class="form-control" placeholder="https://example.com" autofocus required autocomplete=off>
          <br><br>
          <button class="btn btn-primary btn-xl" type="submit">Make it shorter!</button>
      </form>
{% endblock %}
