<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="URL-shortener">
    <meta name="keywords" content="HTML, CSS, JavaScript, Django">
    <meta name="author" content="Aleksandra Gierut">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}{% endblock %}
    {% load staticfiles %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
</head>
<body>
    <!-- Section -->
    <section id="main-content" style='background-image: url("{% static "img/header.jpg" %}")'>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
                <h1 class="title text-white">URL-Shortener</h1>
                <hr class="light my-4">
              {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>&#x24B8 Copyright: Aleksandra Gierut, 2019</footer>

    <!-- Scripts -->
    <script src="{% static "js/jquery-3.3.1.slim.min.js" %}"></script>
    <script src="{% static "js/popper.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
</body>
</html>