{% extends "main/layout.html" %}

{% block head %}
    <title>URL-Shortener</title>
{% endblock %}

{% block content %}
    <p class="text-faded mb-4">Fantastic! Below is your shorter URL.</p>
    <br>
    <input type="url" class="form-control"  value="{{ currPath }}{{ shortURL }}" id="shortened" readonly="readonly">
    <br><br>
    <button class="btn btn-primary btn-xl" id="btn-copy" onclick="copyToClipboard()">Copy the link</button>
{% endblock %}